@using System.Web.Mvc.Html
@*@model WebformProj.Tools.RenderActionViewModel*@
@model WebformProj.Tools.RenderActionViewModel
@{Html.RenderAction(Model.ActionName, Model.ControllerName);}
<a href="http://localhost:53929/Views/Default/Index.cshtml">http://localhost:53929/Views/Default/Index.cshtml</a>